
body {
    font: 1.5em Segoe UI, Tahoma, sans-serif;
}

.row {
    text-align: center;
}

.column {
    width: 80px;
    padding: 20px 0;
    float: left;
    display: block;
    margin: 2px;
    background-color: magenta;
}

.clear {
    clear: both;
}

.gameOver {
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
    background-color: green;
}
